.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    color: blueviolet;
    flex-direction: column;
    height: 100vh;
}
.name p{
    font-family: monospace;
    font-size: 2em;
    color: black;
}
.blog-image img{
    height: 30vh;
    width: 50vh;
}
.link{
    font-size: 1.5em;
}